/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
    --black:#5c5858;
}

body{
    font-family: var(--font-family) !important;
    background: url(./Assets/images/light-patten.svg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* تخصيص شريط التمرير (Scrollbar) */
html::-webkit-scrollbar {
  width: 16px; /* عرض الـ Scrollbar */
}

/* مسار الـ Scrollbar */
html::-webkit-scrollbar-track {
  background: var(--light-color); /* لون الخلفية لمسار التمرير */
  border-radius: 10px; /* تدوير الحواف */
}

/* مقبض التمرير (Thumb) */
html::-webkit-scrollbar-thumb {
  background: var(--main-color); /* لون المين الرئيسي */
  border-radius: 10px; /* تدوير الحواف العلوية والسفلية */
  border: 3px solid var(--light-color); /* مسافة حول المقبض */
}

/* عند تحريك المؤشر فوق الـ Scrollbar */
html::-webkit-scrollbar-thumb:hover {
  background: #088a08; /* لون أغمق عند التمرير */
}


.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black !important;
    text-decoration: none !important;
}
.product{
    box-shadow: var(--shadow);
    /* border-radius: 5%; */
   
    background-color: transparent;

}

.product:hover
{

    border: solid 1px var(--main-color);
  
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color) !important;
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.text-gray {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity)) !important;
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.bg {
    --tw-bg-opacity: 1;
    background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    /* background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; */
}


  
  /* Change color and scale when hovering */
  .nav-link:hover {
    color: var(--main-color) !important; 
    transform: scale(1.1);
  }
  
  .nav-link:active {
   color :#0aad0a ; /* Color when clicked */
   font-weight: bold; /* Make text bold when clicked */
   
    
  }
  
  /* Optionally, if the link is currently active from react-router, we can add an active class */
  /* .nav-link.active {
    color: white; 
    border:  2px solid var(--main-color);
    border-radius: 1px;
  } */
  
  .my-slider .slick-dots {
    margin: 18px;
    bottom: 100px !important; 
  }
  
  .cart{

    box-shadow: rgba(145,158,171,.2) 0px 4px 8px -1px,rgba(145,158,171,.14) 0px 8px 20px 0px,rgba(145,158,171,.12) 0px 2px 20px 0px;;
    /* border-radius: 5%; */
   
    background-color: transparent;
  }
  .btn-outline-success:hover{
    background-color: #0aad0a !important;
    color: #f0f3f2 !important;
  }
  .position-absolute{
   
    font-size: 3px;
  }
  .text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-gray-900p {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-size: small;  
    font-weight: 600;
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
    font-weight: 600;
}
.w-44 {
    overflow: hidden;
    width: 11rem;
     
}

.nav-l:hover {
    color: var(--main-color) !important; 
    /* transform: scale(1.1); */
  
  }
  
  .nav-l:active {
    
background-color: transparent !important;
   
    
  }
  @media (max-width: 976px) {  /* عند تصغير الشاشة إلى أقل من 576px */
    .dropdown-menu {
      right: auto !important;
      left: 0 !important;
      transform: translateX(0) !important;
    }
  }
  @media (max-width: 764px) {
  .category-name {
    font-size: 11px !important; /* حجم الخط المناسب */
   
  }
}

.category{
  box-shadow: var(--shadow);
  /* border-radius: 5%; */
 
  background-color: transparent;

}

.navbar-toggler {
  
   color:var(--main-color)!important;
    border: var(--bs-border-width) solid var(--main-color) !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}